.margin-bottom-20 {
    margin-bottom: 20px;
}

.padding-input-inline-fix {
    padding-left: 0px;
}

.margin-top-20 {
    margin-top: 20px;
}

.navbar li {
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}